<div id="page-bk">
    <div class="container">
        <div id="body">
            <form id="login-box">
                <label class="inputWrapper">
                    <input type="password" name="password" [(ngModel)]="password" placeholder="Senha">
                </label>
                <label class="inputWrapper">
                    <input type="password" name="confirm_password" [(ngModel)]="confirm_password" placeholder="Confirme sua senha">
                </label>
                <a>
                    <button type="submit" *ngIf="!loading" class="btn-primary-fill" (click)="updatePassword()">
                        Alterar senha
                    </button>
                    <button class="btn-primary-fill" *ngIf="loading"><i class="fas fa-spinner fa-spin "></i></button>
                </a>
            </form>
        </div>
    </div>
</div>