<div class="loading" [hidden]="!loading"><i class="fas fa-spinner fa-spin fa-4x"></i></div>

<section class="pageWrapper" [hidden]="loading">
	<div class="pageHeader">
		<h5 class="pageTitle">Super usuários</h5>
	</div>
	<div class="contentWrapper">
		<p class="contentTitle">Alterar senha</p>
		<form id="login-box">
			<p class="box-label">Senha antiga</p>
			<label class="inputWrapper" style="margin-top:0px;">
				<input type="text" name="last_password" [(ngModel)]="last_password" placeholder="Senha antiga">
			</label>
			<p class="box-label">Nova Senha</p>
			<label class="inputWrapper">
				<input type="password" name="password" [(ngModel)]="password" placeholder="Nova senha">
			</label>
			<p class="box-label">Confirmar nova senha</p>
			<label class="inputWrapper">
				<input type="password" name="confirm_password" [(ngModel)]="confirm_password" placeholder="Confirme sua nova senha">
			</label>
			<div class="submitWrapper text-right">
				<button type="submit" routerLink="/home" *ngIf="!loading_submit" class="btn-primary-fill" (click)="updatePassword()">
					Alterar senha
				</button>
				<button class="btn-primary-fill" *ngIf="loading_submit"><i class="fas fa-spinner fa-spin "></i></button>
			</div>
		</form>
	</div>
</section>