<div class="loading" [hidden]="!loading"><i class="fas fa-spinner fa-spin fa-4x"></i></div>

<section class="pageWrapper" [hidden]="loading">
	<div class="pageHeader">
		<h5 class="pageTitle">Usuários</h5>
		<p class="pageSubtitle">Crie, edite ou remova</p>
	</div>
	<div class="contentWrapper">
		<div class="table-header">
			<div class="row">
				<div class="col-lg-8">
					<h5 class="contentTitle">Lista de Usuários</h5>
				</div>
				<div class="col-lg-4 text-right">
					<button class="btn-secondary-fill" routerLink="/users/common/create"><i class="fas fa-plus"></i>Adicionar Usuário</button>
				</div>
			</div>
		</div>
		<div class="table-content table-responsive">
			<table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
				<thead>
					<tr>
						<th>Nome</th>
						<th>E-mail</th>
						<th>Opções</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let user of users">
						<td>{{ user.name }}</td>
						<td>{{ user.email }}</td>
						<td><button class="options-btn" (click)="user.optionsOpened = !user.optionsOpened">Opções<i class="fas fa-chevron-down"></i></button>
							<div class="options-dropdown" [hidden]="!user.optionsOpened">
								<ul>
									<!-- <li>Detalhes</li> -->
									<li routerLink="/users/common/update/{{user.id}}">Editar</li>
									<li (click)="openDelete(user, user.id)">Remover</li>
								</ul>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</section>

<!-- Remove Modal -->
<ng-template #removeModal>
	<div class="modal-body modal-form">
		<span class="close" aria-label="Close" id="close" (click)="modalRef.hide()"><i style="font-size: 25px" class="fas fa-times"></i></span>
		<div class="text-center contentModal">
			<!-- <img src="../assets/img/logo.svg"> -->
			<h4 class="modal-title">Atenção!</h4>
			<p>Tem certeza que deseja remover este usuário?</p>
			<div>
				<div class="row">
					<div class="col-lg-6">
						<button class="btn-submit" aria-label="Sim" (click)="deleteUser()">Sim</button>
					</div>
					<div class="col-lg-6">
						<button class="btn-submit no-btn" aria-label="Não" (click)="modalRef.hide()">Não</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</ng-template>