<section class="pageWrapper">
	<div class="pageHeader">
		<h5 class="pageTitle">Usuários</h5>
	</div>
	<div class="contentWrapper">
		<p class="contentTitle">Adicionar usuário</p>
		<form id="login-box">
			<p class="box-label">Nome</p>
			<label class="inputWrapper" style="margin-top:0px;">
				<input type="text" name="name" [(ngModel)]="name" placeholder="Nome">
			</label>
			<p class="box-label">E-mail</p>
			<label class="inputWrapper">
				<input type="email" name="email" [(ngModel)]="email" placeholder="E-mail">
			</label>
			<p class="box-label">Senha</p>
			<label class="inputWrapper">
				<input type="password" name="password" [(ngModel)]="password" placeholder="Senha">
			</label>
			<p class="box-label">Confirmar senha</p>
			<label class="inputWrapper">
				<input type="password" name="confirm_password" [(ngModel)]="confirm_password" placeholder="Confirme sua senha">
			</label>
			<div class="submitWrapper text-right">
				<button type="submit" *ngIf="!loading_submit" class="btn-primary-fill" (click)="createUser()">
					Adicionar usuário
				</button>
				<button class="btn-primary-fill" *ngIf="loading_submit"><i class="fas fa-spinner fa-spin "></i></button>
			</div>
		</form>
	</div>
</section>