@import 'https://fonts.googleapis.com/css?family=Montserrat:300,400,700';
@import 'https://use.fontawesome.com/releases/v5.0.8/css/all.css';
@import '~bootstrap/dist/css/bootstrap.min.css';
* {
    font-family: 'Montserrat', sans-serif;
    outline: none !important;
}

:root {
    --primary: #1AA5C9;
    --secondary: #1B376E;
    --black: #272727;
    --white: #fdfdfd;
    --grey: #e9e9e9;
    --grey1: #F1F1F1;
    --red: #E94E4E;
    --green: #26D1C1;
    --yellow: #FCC132;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
}

.loading {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--secondary);
}

button {
    cursor: pointer;
    outline: none;
}

a {
    text-decoration: none;
    color: var(--black);
}

ul li {
    list-style: none;
}

.btn-primary-fill {
    padding: 10px 25px;
    border-radius: 5px;
    border: none;
    text-transform: uppercase;
    font-weight: 500;
}

.btn-primary-fill {
    background: var(--primary);
    color: white;
    border: 1px solid none;
}

.btn-primary-fill:hover {
    opacity: 0.7;
}

.inputWrapper {
    background: white;
    padding: 15px;
    border: 1px solid var(--grey1);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    position: relative;
    display: block;
    font-size: 13px !important;
    width: 100%;
    min-height: 53px;
    padding: 15px;
}

input[type="text"], input[type="password"], input[type="number"], input[type="email"] {
    background: white;
    width: 100%;
    border: none;
    outline: none;
}

input[type="radio"], input[type="checkbox"] {
    box-sizing: border-box;
    padding: 0;
    margin-right: 10px;
}

textarea {
    width: 100%;
    height: 200px;
    border: 1px solid var(--grey1);
    border-radius: 5px;
    padding: 15px;
    font-size: 13px;
}

select {
    width: 100%;
    background: none;
    border: 1px solid var(--grey1);
    border-radius: 5px;
    height: 50px;
    cursor: pointer;
    -webkit-appearance: none;
    margin: 0;
    padding-left: 15px;
    font-size: 13px;
    background: white;
}

.pageWrapper, .loading {
    position: absolute;
    top: 70px;
    background: var(--grey);
    width: 100%;
    height: calc(100vh - 70px);
}

.pageWrapper {
    left: 300px;
}

.loading {
    left: 150px;
}

.pageHeader {
    padding: 50px 30px;
}

.pageTitle {
    text-transform: uppercase;
}

.pageSubtitle {
    font-size: 14px;
}

@media only screen and (max-width: 1169px) {
    .pageWrapper {
        top: 70px;
        left: 0px;
    }
    .loading {
        left: 0px;
    }
}