<div class="loading" *ngIf="loading"><i class="fas fa-spinner fa-spin fa-4x"></i></div>

<section class="pageWrapper" *ngIf="!loading">
	<div class="pageHeader">
		<h5 class="pageTitle">Usuários</h5>
	</div>
	<div class="contentWrapper">
		<p class="contentTitle">Editar usuário</p>
		<form id="login-box">
			<p class="box-label">Nome</p>
			<label class="inputWrapper" style="margin-top:0px;">
				<input type="text" name="name" [(ngModel)]="user.name" placeholder="Nome">
			</label>
			<div class="submitWrapper text-right">
				<button type="submit" routerLink="/users/common" *ngIf="!loading_submit" class="btn-primary-fill" (click)="updateUser()">
					Alterar usuário
				</button>
				<button class="btn-primary-fill" *ngIf="loading_submit"><i class="fas fa-spinner fa-spin "></i></button>
			</div>
		</form>
	</div>
</section>